version: '3.9'
services:
  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"

  maildev:
    image: maildev/maildev
    restart: always
    ports:
      - "1080:1080"
      - "1025:1025"
